@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;700&display=swap');

* {
  font-family: 'Laila', sans-serif;
  color: $white;
}

body {
  padding-block: 2rem;
  background-color: $main-400;
}