#t-wrap {
  margin-top: 4rem;
  overflow: auto;
  background-color: $main-300;
  border-radius: $border;
  
  &::-webkit-scrollbar {
    height: 1.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-100;
    border-radius: 100vmax;
    border: 0.4rem solid transparent;
    background-clip: padding-box;
  }
}

#data-table {
  width: 100%;
  border-spacing: 0;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.25);
  min-height: 60vh;
  background-color: $main-300;
  border-radius: $border;
  overflow: hidden;

  thead {
    background-color: $main-200;
  }

  th, td {
    text-align: left;
    padding-left: .6rem;
    padding-block: .6rem;
  }

  tbody {
    tr:hover {
      background-color: $main-100;
      cursor: pointer;
    }
  }

  [data-sortable] {
    display: flex;
    align-items: center;

    span {
      user-select: none;
      cursor: pointer;
    }
  }

  .sort-btns {
    margin-inline: auto;
    display: grid;
    gap: 0.4rem;

    button {
      display: block;
      width: .8rem;
      aspect-ratio: 22 / 15;
      background-color: $main-100;

      &.active {
        background-color: $white;
      }

      &:hover {
        cursor: pointer;
      }

      &[data-sort="asc"] {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }

      &[data-sort="desc"] {
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      }
    }
  }
}