// GENERAL STYLINGS
@import "_resets.scss";
@import "_query.scss";
@import "_variables.scss";
@import "_general.scss";
@import "_util-classes.scss";

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;

  @include small {
    font-size: 9vw;
  }
}

h2 {
  font-weight: 500;
  color: rgba($white, 0.5);
}

$padding: 0.6rem;

#menu {
  background-color: $main-300;
  width: max-content;
  padding: $padding;
  border-radius: $padding $padding 0 0;
  display: flex;
  gap: 0.4rem;
  align-items: center;

  @include small {
    width: 100%;
    justify-content: space-around;
  }

  @include xsmall {
    span {
      font-size: 5vw;
    }
  }

  button {
    display: grid;
    place-items: center;
    font-weight: 900;
    $size: 2rem;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $border;

    &.active {
      background-color: $white;
      color: $main-100;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#cards {
  --row-gap: 1.5em;
  --col-gap: 1.5em;
  background-color: $main-300;
  min-height: 60vh;
  border-radius: 0 $border $border $border;
  padding: $padding;
  display: grid;
  grid-auto-rows: max-content;
  justify-items: stretch;
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);

  @include large {
    font-size: 1.8vw;
  }

  @include small {
    border-radius: 0 0 $border $border;
  }

  &[data-cols="1"] {
    --row-gap: 1.5rem;
    --col-gap: 1.5rem;

    .card {
      width: min(20rem, 100%);
      margin-inline: auto;

      p {
        @include large {
          font-size: 1rem;
        }

        @include xsmall {
          font-size: 5vw;
        }
      }

      button {
        @include small {
          --size: 2rem;
        }

        @include large {
          --offset: -0.5rem;
        }
      }
    }
  }

}

.card {
  position: relative;
  isolation: isolate;
  border-radius: $border;
  height: max-content;
  transition: box-shadow 0.3s;

  @include large {
    font-size: 1em;
  }

  &:hover {
    box-shadow: 0 0 2rem $main-100;
    z-index: 2;
  }

  img {
    width: 100%;
    aspect-ratio: 9 / 13;
    object-fit: cover;
    border-radius: $border $border 0 0;
  }

  p {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $main-400;
    text-align: center;
    border-radius: 0 0 $border $border;

    @include large {
      font-size: 1.55vw;
    }
  }

  button {
    position: absolute;
    --offset: -0.5em;
    top: var(--offset);
    right: var(--offset);
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-radius: $border;

    @include small {
      --size: 6vw;
    }

    &::after {
      position: absolute;
      content: '';
      inset: 0;
      background-color: $white;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
      transform: scale(0.8);
    }

    &:hover {
      cursor: pointer;
      background-color: $warning;
    }
  }

  @include housesClasses(calc(min(var(--col-gap), var(--row-gap)) * -0.15));
}